.main{
    border-radius: 25px;
    background-color: #00d0ff;
    width:50%;
    margin: auto;
    height:700px;
    width: 900px;
    text-align: center;
    top:0;
}



table, tr, td{
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 70px;
}

th{
    text-align: left;
}
tr:hover {
    background: gray;
}
